{% extends 'base.html.twig' %}
{% block body %}
    <h1>projet</h1>
    {{ form_start(form, { attr: { id: 'form-ajouter_projet', novalidate: 'novalidate' } }) }}
    {{ form_row(form) }}
    <button class="btn btn-success" style="margin-top: 3%"type="submit">Ajouter</button>
{% endblock %}